:root {
  --primary:  rgba(176,52,54,1);
  --warning:  rgba(138,134,102,1);
  --danger: rgba(146,144,122,1);
  --success: rgba(99,97,88,1);
  --brown: rgb(124, 97, 83);
  --white: white;
  --dark: black;
  --disabled: rgb(199, 197, 197);
  
  
}

.btn {

  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  

}

.btn:hover {
  transform: translateY(-3px);
}


/* Button Colors and Styles */

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn--warning--solid {
  background-color: var(--warning);
  color: var(--white);
  border: none;
}

.btn--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border: none;
}

.btn--success--solid {
  background-color: var(--success);
  color: var(--white);
  border: none;
}

.btn--brown--solid {
  background-color: var(--danger);
  color: var(--black);
  border: 1px solid black;
}

.btn--primary--outline {
  background-color: transparent;
  color: var(--primary);
  border: var(--primary) solid 1px;
  
}

.btn--disabled--outline {
  background-color: var(--disabled);
  color: var(--primary);
  border: var(--primary) solid 1px;
}

.btn--warning--outline {
  background-color: transparent;
  color: var(--warning);
  border: var(--warning) solid 1px;

}

.btn--danger--outline {
  background-color: transparent;
  color: var(--danger);
  border: var(--danger) solid 1px;

}

.btn--success--outline {
  background-color: transparent;
  color: var(--success);
  border: var(--success) solid 1px;

}

/* Button sized */
.btn--medium {
  /* padding: 8px 20px; */
  font-size: 11px;
  width: 100px;
  height: 40px;
  box-shadow: 2px 3px 9px 0px black;
  margin: 2px;
}

.btn--large {
  /* padding: 8px 20px; */
  /* font-size: 12px; */
}

.btn--system {
  color:white;
  background-color: var(--system);
}
