/* Button.css */


:root {
  --primary:  rgba(176,52,54,1);
  --warning:  rgba(138,134,102,1);
  --danger: rgba(146,144,122,1);
  --success: rgba(99,97,88,1);
  --system: rgba(60,46,39,1);
  --white: white;
  --dark: black;
  --disabled: rgba(199, 197, 197,.5);
}

.btn {
  font-weight: 600;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);

}

.btn:active {
  /* background-color: #3e8e41; */
  box-shadow: 1px 1px 4px 1px black;
  transform: translateY(-100px); 
  transform: translate(1px, 2px);
  transition: none;
  /* transform: rotate(20deg); */
  color:black;
}


/* Button Colors and Styles */

.stamp {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 3px;
  font-size: 11px;
  width: 100px;
  height: 40px;
  box-shadow: 2px 3px 9px 0px black;
  margin: 2px;
}

.edit-stamp {
  background-color: transparent;
  color: var(--primary);
  border: var(--primary) solid 1px;
  border-radius: 3px;
  font-size: 11px;
  width: 100px;
  height: 40px;
  box-shadow: 2px 3px 9px 0px black;
  margin: 2px;
}

.share-stamp {
  background-color: var(--warning);
  color: var(--white);
  border: none;
  border-radius: 3px;
  font-size: 11px;
  width: 100px;
  height: 40px;
  box-shadow: 2px 3px 9px 0px black;
  margin: 2px;
}

.system {
  background-color: var(--system);
  color: var(--white);
  border: 1px solid black;
  font-size: 11px;
  width: 130px;
  height: 30px;
  margin: 2px;
}

.system:hover {
  box-shadow: 1px 1px 4px 0px red;
  color: rgb(241, 159, 159);
}

.system-disabled {
  background-color: rgba(138,134,102,.3);
  color: rgba(87, 87, 87,.5);
  border: 1px solid rgba(87, 87, 87,.5);
  cursor: not-allowed;
  font-size: 11px;
  width: 130px;
  height: 30px;
  margin: 2px;
}


.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn--warning--solid {
  background-color: var(--warning);
  color: var(--white);
  border: none;
}

.btn--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border: none;
}

.btn--success--solid {
  background-color: var(--success);
  color: var(--white);
  border: none;
}

.btn--brown--solid {
  background-color: var(--danger);
  color: var(--black);
  border: 1px solid black;
}

.btn--brown--solid--disabled {
  background-color: var(--disabled);
  color: rgba(87, 87, 87,.5);
  border: 1px solid rgba(87, 87, 87,.5);
  cursor: not-allowed;
}



.btn--primary--outline {
  background-color: transparent;
  color: var(--primary);
  border: var(--primary) solid 1px;
  
}

.btn--disabled--outline {
  background-color: var(--disabled);
  color: var(--primary);
  border: var(--primary) solid 1px;
}

.btn--warning--outline {
  background-color: transparent;
  color: var(--warning);
  border: var(--warning) solid 1px;

}

.btn--danger--outline {
  background-color: transparent;
  color: var(--danger);
  border: var(--danger) solid 1px;

}

.btn--success--outline {
  background-color: transparent;
  color: var(--success);
  border: var(--success) solid 1px;

}

/* Button sized */
.btn--medium {
  /* padding: 8px 20px; */
  font-size: 11px;
  width: 100px;
  height: 40px;
  box-shadow: 2px 3px 9px 0px black;
  margin: 2px;
}

.btn--large {
  /* padding: 8px 20px; */
  /* font-size: 12px; */
}

.btn-small {
  font-size: 11px;
  width: 80px;
  height: 30px;
  box-shadow: 2px 3px 9px 0px black;
  margin: 2px;
}

.btn--system {
  background-color: var(--disabled);
  color: rgba(87, 87, 87,.5);
  border: 1px double rgba(87, 87, 87,.5);
  cursor: not-allowed;
  font-weight: 400px;
}

