/* .spacer {
  flex: 1;
} */

/* .stampButtons {
  display: flex;
} */

.main-wrapper {
  display:grid;
}

.template-row, .profile-row {
  display: grid;
  grid-template-columns: (1fr,1fr);
  grid-gap: 1em;
 
  grid-auto-rows: 10px;
 
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  align-items: center;
}

.stamps-row {
  display: flex-row;
  /* grid-template-columns: (1fr); */
  grid-gap: 1em;
  
  grid-auto-rows: 10px;
  border: 1px solid red;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  align-items: center;
}

.profile-row .btn--medium, .template-row .btn--medium {
  min-width:100px;
}

.stamps-row .btn--medium {
  /* display:inline-block; */
  font-size: 11px;
  width: 200px;
  height: 40px;
  box-shadow: 2px 3px 9px 0px black;
  margin: 2px;
}

.btn--medium {
  box-shadow: none;
}

.btn--primary--solid {
  background-color: rgba(50,50,50,.7);
}

.btn--primary--solid:hover {
  background-color: rgba(50,50,50,1);
}

.btn:hover {
  transform: translateY(-3px);
}

.edit-select {
  border: 3px red dashed;
  height: 40px;
  margin: 0 3px;
}

.edit-select:hover, .edit-select:focus {
  background-color: crimson;
  color: white;
  border: 3px black dashed;
}



textarea {
  display: flex;
  width: 100%;
  min-height: 200px;
}

.disable-button {
  pointer-events: none;
}

.enable-button {
  pointer-events: auto;
}