/* EditButton.css */

 
.main-wrapper {
  display: grid;
}

/* .template-row,
.profile-row {
  display: grid;
  grid-template-columns: (1fr, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 10px;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  align-items: center;
  width: 420px;
} */  

.button-row {
  width:420px;
  display:block;
}

/* .stamps-row {
  display: flex-row;
  grid-gap: 1em;
  grid-auto-rows: 10px;
  border: 1px solid red;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  align-items: center;
}  */

/* .profile-row .btn--medium,
.template-row .btn--medium {
  min-width: 100px;
}

.stamps-row .btn--medium {

  font-size: 11px;
  width: 200px;
  height: 40px;
  box-shadow: 2px 3px 9px 0px black;
  margin: 2px;
} */

/* .btn--medium {
  box-shadow: none;
}

.btn--edit--solid {
  background-color: rgba(50, 50, 50, 0.7);
}

.btn--edit--solid:hover {
  background-color: rgba(50, 50, 50, 1);
}

.btn:hover {
  transform: translateY(-3px);
} */

/* .edit-select {
  border: 1px red dashed;
  height: 40px;
  margin: 0 3px;
  cursor: pointer;
} */

/* .edit-select:hover,
.edit-select:focus {
  background-color: crimson;
  color: white;
  border: 3px black dashed;
} */

/* .edit-disable {
  background-color: rgb(206, 204, 204);
} */

textarea {
  display: flex;
  width: 100%;
  min-height: 200px;
}

.focus {
border: 2px red solid;
}

.disable-button {
  pointer-events: none;
  background-color: rgb(206, 204, 204);
  opacity: .7;
  color: rgba(50, 50, 50, 0.7); 
}

.enable-button {
  pointer-events: auto;
}

.select-share, .select-trigger {
  cursor: pointer;
  color:red;
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
}

/* custom toggle switch */
.customToggle input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.customToggle label {
  border: 1px solid black;
  background: rgba(176,52,54,1);
  border-radius: 25px;
  position: relative;
  width: 80px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  transition: background 0.3s linear;
  cursor: pointer;
}

.customToggle label:before {
  content: '';
  background: #fff;
  height: 20px;
  width: 30px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 25px;
  transform: translateX(0);
  transition: transform 0.2s cubic-bezier(0.1, 0.8, 0.32, 1.2), background 0.2s linear;
}

.customToggle label span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #fff;
}

.customToggle label .yes {
  display: none;
}

.customToggle label .no {
  left: auto;
  right: 10px;
  display: inline-block;
}

.customToggle input[type="checkbox"]:checked + label {
  background: rgba(138,134,102,1);
}

.customToggle input[type="checkbox"]:checked + label:before {
  transform: translateX(38px);
}

.customToggle input[type="checkbox"]:checked + label .yes {
  display: inline-block;
}

.customToggle input[type="checkbox"]:checked + label .no {
  display: none;
}

.hr {
  background-color: rgba(99,97,88,1);
}

.span-text {
  margin: 10px;
}

.toggle-label {
  margin: 0px 10px; 
}

.row {
  display: flex;
  text-align: center;
  margin :10px;
  justify-content: space-around;
}

.red {
  color:red;
}

.black {
  color:black;
}

.page-title {
  font-family: 'Allerta Stencil', Tahoma, sans-serif;
  text-align: center;
  margin: 100px 20px 20px 20px;
}

.stamp_button {
  width: 200px;
}

.template_button, .profile_button {
  width:100px;
}

