/* StampPad.css */


.main-wrapper {
  display: grid;
}

.template-row,
.profile-row {
  display: grid;
  grid-gap: 1em;
  grid-auto-rows: 10px;
  border: 1px solid red;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  align-items: center;
  width: 420px;
}

.stamp-row {
  border: 1px solid red;
  margin-right: auto;
  margin-left: auto;
  width: 420px;
}

.stamp-textarea {
  border: solid red 1px;
  padding: 10px;
  width:420px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.profile-row .btn,
.template-row .btn {
  width: 100px;
}

.stamp-row .btn {
  font-size: 11px;
  width: 200px;
  height: 40px;
  margin: 2px;
}

@keyframes blink {
  50% {
    border-color: #ff0000;
  }
}
.text-border-blink {
  border: solid red 5px;
  transition: all 0s ease-in;
}
