.mainPage {
  background-color: rgb(238, 236, 236);
  display: block;
}
.configure_button {
  cursor:move;
}

.buttonRow {
  display:flex;
  max-width: 500px;
}

.trash_box, .edit_box {
  
  min-width:150px;
  min-height: 100px;
  border: 1px solid black;
}

.edit_box {
  background-image : '/../art/pencil.png';
}

.boxes {
  display: flex;
}

.fill {
  /* background-color: rgb(116, 20, 3); */
  position: relative;
  /* height: 150px; */
  /* width:130px; */
  top:5px;
  left: 5px;
  cursor: move;
}

.empty {
  display: inline-block;
  /* height: 160px;
  width: 160px; */
  margin:10px;
  border: 3px solid black;
  background-color: white;
}

.plus {
  cursor:pointer;
}

.hold {
  border: solid 4px red;
  /* height: 50px; */

}

.dragBox {
  border: blue solid 1px;
  min-width:20px;
  background-color: cadetblue;
}

.hovered {
  background: silver;
  border-style: solid;
  border-color: green;
  /* margin-left:15px;
  margin-right:15px; */
  
}

.box_hovered {
  background: silver;
  border-style: solid;
  border-color: green;
 
  
}

.invisible {
  display:none;
}


