/* Index.css */


@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 10px;
  padding: 0;
  height: 100%;
  font-family: 'Allerta Stencil', Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 512px;
  background-color: snow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hr {
  margin: 5px;
}
 

.spacer {
  flex: 1;
} 